*{
    padding: 0;
    margin: 0;
}
/* Row-1 CSS End */
#row1{
    background-color: #2C3F50;
    height: 30px;
    width: 100%;
}
.top-section{
    width: 90%;
    margin: 0 auto;
}
.left-link{
    width: 60%;
    float: left;
    height: 100%;
}
.left-links ul{
    color: #fff;
}
.left-links ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    line-height: 30px;
    color: #fff;


}
.left-links ul li a{
    color: #fff;
    text-decoration: none;
}
.social-links{
    width: 30%;
    float: left;
    height: 100%;
    text-align: right;
}
.social-links i{
    color: #fff;
    border-right: 2px solid #000;
    line-height: 30px;
    padding-right: 8px;
}
/* Row-1 CSS End*/

/* Row-2 CSS Start*/
#row2{
      height: 80px;
      width: 100%;
      background-color: #f8f5f5;
}
.header_section{
      width: 90%;
      margin: 0 auto;
}
.Logo{
width: 25%;
float: left;
}
.Logo img{
height: 50px;
margin-top: 10px;
}
.menu{
width: 65%;
float: right;
text-align: right;
}
.menu ul{
text-align: right;
}
.menu ul li{
float: left;
line-height: 80px;
width: 106px;
text-align: center;
list-style: none;
}
.menu ul li a{
text-decoration: none;
text-transform: uppercase;
color: #455964;
}
,menu ul li i{
height: 30px;
width: 30px;
border: 2px solid #455964;
border-radius: 100%;
line-height: 30px;
}
/* Row-2 CSS End*/